<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='icon' href='/img/weather.png'>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses data from mapbox.com and weatherstack.com!</p>
            <img class="portrait" src="https://images.unsplash.com/photo-1505764761634-1d77b57e1966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80">
        </div>
        
        {{>footer}}
    </body>
</html>